{
  "presets": [
    ["es2015", { "modules": false }]
  ],
  "plugins": [
    "syntax-dynamic-import",
    "fast-async"
  ],
  "comments": false,
  "env": {
    "test": {
      "plugins": [ "istanbul" ]
    }
  }
}
