{
  "presets": [
    ["env", {
      "modules": false,
      "targets": {
        "chrome": 62,
        "firefox": 56,
        "ios": "10.3",
        "safari": "10.1",
        "edge": 15
      },
      "loose": true,
      "useBuiltIns": true
    }]
  ],
  "comments": false
}
