@import '~tachyons';
@import '~font-awesome/css/font-awesome.css';

@keyframes loading-shimmer {
  0% {
    background-position: -992px 0
  }
  100% {
    background-position: 992px 0
  }
}

.sans-serif {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}

.transparent {
  color: transparent;
}

.box-shadow-umi {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}

.emoji {
  height: 28px;
  user-select: none;
}

.tooltip {
  display: none;
  opacity: 0;
  transition: opacity .15s;
  pointer-events: none;
  padding: 4px;
  z-index: 2147483647;
}

.tooltip .tooltip-content {
  background: rgba(0, 0, 0, 0.6);
  color: white;
  padding: 5px 10px 4px;
}

.tooltip.tooltip-open-transitionend {
  display: block;
}

.tooltip.tooltip-after-open {
  opacity: 1;
}

.mal-icon {
  display: inline-block;
  width: 35px;
  padding: 2px;
  box-sizing: border-box;
  color: #004175;
  border: 0.125rem solid #004175;
  border-radius: 0.25rem;
  font-size: 12px;
  font-weight: bold;
}

.mal-icon:after {
  content: 'MAL';
}

.mal-icon.watched {
  color: #19a974;
  border-color: #19a974;
  width: 55px;
}

.mal-icon.watched:after {
  content: 'MAL ✔'
}

.player-top-offset {
  top: 64px;
}

.player-width {
  width: 1024px;
}

.player-height {
  height: 576px;
}

.container-width {
  width: 948px;
}


.pointer-events-none {
  pointer-events: none;
}
